/*------------------------------------------------------------------------------- ./site.css -------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    background-color: #6fb98f;
    text-align: center;
}

header{
    background-color: #004445;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: rgb(230,230,230,.95);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 0vh;
    z-index: 1;
}

#name{
    font-family: 'Orbitron', sans-serif;
    font-size: 1.4em;
    padding-left: .2em;
    padding-right: .2em;
    text-shadow: 1px 1px 4px rgb(148, 148, 184,.75);
    color: rgb(230,230,230,.95);
    text-decoration: none;
}

#title{
    font-size: 3rem;
    margin: 1rem 0 0 0;
}

#headline{
    display: flex;
    flex-direction: column;
}

header p{
    font-family: 'Orbitron', sans-serif;
    text-shadow: 1px 1px 4px rgb(148, 148, 184,.75);
    color: rgb(230,230,230,.95);
    margin-top: 1rem;
    padding-bottom: 0.5rem;
}

header > nav > a{
    font-size: 1.65em;
    margin-top: .2rem;
    margin-right: .8em;
    text-shadow: 0 0 4px rgb(0,0,0);
    color: rgb(230,230,230,.95);
    text-decoration: none;
}

header nav a:hover{
    font-size: 1.8em;
    text-shadow: 0 0 1px rgb(201,158,14);
}


main{
    display: block;
    background-color:  rgb(44, 120, 115, 0.85);
    max-width: 70%;
    color: rgb(230,230,230);
    padding: 1.3vh;
    box-shadow: 0px 0px 12px rgb(00, 00, 00);
    text-shadow: 1px 1px 1px rgb(00, 00,00);
    margin: 0 auto;
    margin-top: 18vh;
    margin-bottom: 13vh;
}   

main p{
    font-size: 1.2rem;
}

main a{
    text-shadow: 0.3px 0.3px black;
    text-decoration: none;
    font-weight: lighter;
}

main a:hover{
    text-decoration: underline;
}

main a:visited{
    color: rgb(17,0,238);
}

footer{
    text-align: center;
    background-color: #021C1E;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer > a{
    display: inline;
}

footer > a > img{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    margin: 1.25vh;
    box-shadow: 2px 2px 4px rgb(0,0,0,.8);
}

hr{
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:white;
    height: 1px;
  }


/*------------------------------------------------------------------------------ Media Queries ------------------------------------------------------------------------------*/


@media (max-width: 750px){

    header, footer{
        position: static;
    
    }

    main{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    nav{
        padding-bottom: 1rem;
    }

}


@media (max-height: 750px) AND (min-width: 750px){

    main{
        margin-top: 22vh;
        margin-bottom: 16vh;
    }

}


@media (max-height: 650px) AND (min-width: 750px){

    main{
        margin-top: 29vh;
        margin-bottom: 20vh;
    }

}


@media (max-height: 450px) AND (min-width: 750px){

    main{
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
    
    header, footer{
        position: static;
    
    }

}